.filters-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-radius: 25px;
  background: var(--whityColor);
  box-shadow:
    8px 8px 20px rgba(0, 0, 0, 0.06),
    -8px -8px 20px rgba(255, 255, 255, 0.8);
  flex-wrap: nowrap;
}

.filter-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-column .filter-group-vertical {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.filter-column .filter-title {
  font-size: 1.1rem;
  background-color: transparent;
  color: var(--mainColor);
  font-family: "Jersey 10", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.6;
  margin: 0;
}

.filter-column select {
  appearance: none;
  padding: 7px;
  border-radius: 20px;
  max-width: 100px;
  border: none;
  background: var(--warmyColor);
  color: var(--mainColor);
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.05);
  transition: 0.25s ease;
}

.filter-column select:hover {
  transform: translateY(-2px);
  box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.08);
}

.filter-column input[type="range"] {
  width: 200px;
  accent-color: var(--mainColor);
  cursor: pointer;
}

.filter-column output {
  font-size: 1rem;
}

/* .filter-column label {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-size: 1.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
  opacity: 0.6;
  color: var(--mainColor);
  font-family: "Jersey 10", sans-serif;
} */

/*! Toggle Style */
.filter-column input[type="checkbox"] {
  appearance: none;
  width: 48px;
  height: 26px;
  background: var(--warmyColor);
  border-radius: 30px;
  position: relative;
  transition: 0.3s ease;
  cursor: pointer;
}

.filter-column input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  top: 3px;
  left: 4px;
  transition: 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


.filter-column input[type="checkbox"]:checked {
  background: var(--mainColor);
}

.filter-column input[type="checkbox"]:checked::before {
  transform: translateX(22px);
}

/*! CLEAR BUTTON */
.filter-column button {
  padding: 8px 40px;
  border-radius: 20px;
  border: none;
  background: var(--mainColor);
  color: var(--whityColor);
  font-size: 0.95rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease;
}

.filter-column button:hover {
  transform: translateY(-2px);
  opacity: 0.85;
}

.mobile-filters {
  display: none;
}

@media (max-width: 1000px) {
  .filters-container {
    padding: 10px
  }

  .filter-column .filter-group-vertical {
    gap: 4px;
  }

  .filter-column .filter-title {
    font-size: 0.9rem;
    letter-spacing: 1.5px;
  }

  .filter-column select {
    font-size: 0.7rem;

  }

  .filter-column input[type="range"] {
    width: 150px;
  }

  .filter-column output {
    font-size: 0.8rem;
  }

  .filter-column input[type="checkbox"] {
    width: 40px;
    height: 25px;
  }

  .filter-column input[type="checkbox"]::before {
    width: 15px;
    height: 15px;
    top: 4.5px;
    left: 4px;
  }

  .filter-column input[type="checkbox"]:checked::before {
    transform: translateX(17px);
  }


  .filter-column button {
    padding: 6px 20px;

    font-size: 0.8rem;
  }
}

@media (max-width: 835px) {

  .desktop-filters {
    display: none;
  }

  .mobile-filters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding: 14px 5px;
    background: var(--whityColor);
    border-radius: 22px;
    box-shadow:
      8px 8px 20px rgba(0, 0, 0, 0.06),
      -8px -8px 20px rgba(255, 255, 255, 0.8);
    align-items: center;
  }

  .mobile-item {
    position: relative;
  }

  .mobile-item summary {
    list-style: none;
    text-align: center;
    padding: 10px;
    border-radius: 14px;
    background: var(--warmyColor);
    cursor: pointer;
    font-size: 0.8rem;
    transition: 0.2s ease;
  }

  .mobile-item summary::-webkit-details-marker {
    display: none;
  }

  .mobile-item[open] summary {
    background: var(--mainColor);
    color: var(--whityColor);
  }

  .mobile-item>*:not(summary) {
    position: absolute;
    top: 145%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: var(--whityColor);
    border-radius: 18px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
  }

  .mobile-item select {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 10px;
    border-radius: 12px;
    background: var(--whityColor);
    color: var(--mainColor);
    text-align: center;
    font-size: 0.85rem;
    cursor: pointer;
  }

  /* .mobile-item:not([open])>*:not(summary) {
    display: none;
  } */
  .mobile-item .price-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0px;
    height: 40px;
  }

  .mobile-item input[type="range"] {
    width: 100%;
    background-color: var(--mainColor);
    padding: 0px;
  }

  .mobile-item span {
    font-size: 0.8rem;
    text-align: center;
    background-color: var(--whityColor);
    color: white;
    padding: 5px;
    line-height: 15px;
    color: var(--mainColor);
    border-radius: 12px;
  }

  .mobile-toggle {
    border: none;
    border-radius: 14px;
    background: var(--warmyColor);
    padding: 10px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.2s ease;
  }

  .mobile-toggle.active {
    background: var(--mainColor);
    color: #fff;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  }

  .mobile-clear-btn {
    border: none;
    border-radius: 14px;
    background: var(--mainColor);
    color: #fff;
    font-size: 0.8rem;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease;
  }

  .mobile-clear-btn:hover {
    opacity: 0.9;
  }

}

@media (max-width: 575px) {
  .mobile-filters {
    gap: 6px;
    padding: 10px 5px;
  }

  .mobile-item summary {
    padding: 7px;
  }
  .mobile-item select {
    padding: 8px 10px;
    font-size: 0.7rem;
  }
    .mobile-item .price-wrapper {
    height: 35px;
  }
    .mobile-item span {
    font-size: 0.7rem;
    }

  .mobile-toggle {
    padding: 7px;
    font-size: 0.8rem;
  }

  .mobile-clear-btn {
    border-radius: 14px;
    font-size: 0.8rem;
    padding: 7px;
  }

}

@media (max-width:365px) {
  .mobile-filters {
    gap: 5px;
    padding: 8px 4px;
  }

  .mobile-item summary {
    padding: 6px;
    font-size: 0.7rem;
  }
  .mobile-item select {
    padding: 7px 9px;
    font-size: 0.6rem;
  }
    .mobile-item .price-wrapper {
    height: 32px;
  }
    .mobile-item span {
    font-size: 0.6rem;
    }

  .mobile-toggle {
    padding: 6px;
    font-size: 0.7rem;
  }

  .mobile-clear-btn {
    border-radius: 14px;
    font-size: 0.7rem;
    padding: 6px;
  }
}