.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.pagination button {
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid var(--mainColor);
  background-color: var(--whityColor);
  color: var(--mainColor);
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.pagination button:hover:not(:disabled) {
  background-color: var(--mainColor);
  color: var(--whityColor);
  transform: translateY(-2px);
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

