.manager-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.manager-header button{
   background-color: var(--secondaryColor);
}
.manager-header button:hover{
   background-color: var(--maintGreen);
}
